
@media screen and (min-width:480px) and (max-width:639px){

	#mainWrapper {
		position:relative;
		width:100%;
	}

	#mainPic {
		position:relative;
		display:inline-block;
		/* background: url(../images/mainPic.jpg)no-repeat center; */
		background-size:100%;
		height:136px;
		width:100%;
	}
	.mainPicImg{
		width:100%;
	}
	.mainPicImg img{
		width:100%;
	}

	#mainBody {
		position:relative;
		width:100%;
	}

	/* ------------FOOTER   ---------------------*/
#footer {
	position:relative;
	background-color:black;
	width:100%;
	height:176px;
	margin-top:7%;
}

	/*------------------buttons div------------------*/
	#buttonsDiv {
		position:relative;
		height:57px;
		width:80%;
		margin:auto;
	}
	#searchButton1 {
    position: absolute;
    left: 20;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton2 {
    position: absolute;
    left: 98px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton3 {
    position: absolute;
    left: 211px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton4 {
    position: absolute;
    left: 322px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}
	/*-----------------search div--------------------*/
	#searchBarDiv {
		position:relative;
		height:116px;
	}

	#searchInstructions {
		position:relative;
		height:30px;
		width:80%;
		margin-left:3%;
	}

	#searchBar {
		position:relative;
		width:80%;
		height:23px;
		margin:3% auto 0 auto;
	}


/*----------------init div ------------------------*/
	#initdiv {
		position:relative;
	left:36px;
		top:396px;
		height:433px;
	}

	#initH1 {
		position:relative;
		width:48%;
		text-align:center;
		margin:auto;
	}

	#initH3{
		width: 75%;
		margin-left: 1%;
	}		

/*	#initPopular1 {
		position:absolute;
		left:90px;
		top:416px;
		width:288px;
		height:178px;
	}	*/

	#initPopular1 {
		position:relative;
		margin:1%;
	}
	.cArtDesc{
		display:block;
		width:85%;
		margin:1% 0 1% 0;
	}
	.initPicResult{
		float:right;
	}
	#initCategory1ResultList {
		list-style-type: none;
		margin:0 1%;
	}
	#initCategory1ResultList li{
		height:180px;
		left:-18px;
		font-size:90%;
	}
	#initCategory1ResultList img{
		width:90px;
		height:90px;
	}
	.initPicResH3{
		width:80%;
		margin:0;
	}	

/*---------------SEARCH RESULTS DIV-----------------------*/

	/*---------------pla results--------------*/
	#resultsDiv {
		position:relative;
		width:100%;
		display:inline-block;
	}
	#resultsPlain {
		position:relative;
		display:block;
		width:90%;
		margin:auto;
	}
	.plainResultH4{
		text-decoration: underline;
	}
	#plainResultLi {
		position:relative;
		right:7%;
	}

	/*---------------picture results--------------*/
	#resultsPic {
		position:relative;
		width:90%;
		margin:auto;
	}

	#resultPicLi {
		position:relative;
		display:inline-block;
		margin: 0.3%;
		left:-7%;
		width: 104%;
	}

	#resultPicImg {
		position:relative;
		float:right;
	}

	#resultPicImg img{
		width:90px;
		height:90px;
		float:left;
	}

	#resultPicData {
		position:relative;
		width:75%;
		margin-left:1%;
		top:-12%;
	}
	#picResp{
		text-indent:2%;
	}
	#picResP::first-letter{
		font-size: 180%;
	}

	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}			
	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}	
	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}

}

@media screen and (min-width:640px) and (max-width:767px){

	#mainWrapper {
		position:relative;
		width:100%;
	}

	#mainPic {
		position:relative;
		display:inline-block;
		background-size:100%;
		height:159px;
		width:100%;
	}
	.mainPicImg{
		width:100%;
	}
	#mainBody {
		position:relative;
		width:100%;
	}

	/* ------------FOOTER   ---------------------*/
#footer {
	position:relative;
	background-color:black;
	width:100%;
	height:176px;
	margin-top:7%;
}

	/*------------------buttons div------------------*/
	#buttonsDiv {
		position:relative;
		height:57px;
		width:80%;
		margin:auto;
	}
	#searchButton1 {
    position: absolute;
    left: 0;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton2 {
    position: absolute;
    left: 144px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton3 {
    position: absolute;
    left: 288px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton4 {
    position: absolute;
    left: 432px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}
	/*-----------------search div--------------------*/
	#searchBarDiv {
		position:relative;
		height:116px;
	}

	#searchInstructions {
		position:relative;
		left:54px;
		width:504px;
		height:30px;
	}

	#searchBar {
		position:relative;
		width:80%;
		height:23px;
		margin:3% auto 0 auto;
	}


/*----------------init div ------------------------*/
	#initdiv {
		position:relative;
	left:36px;
		top:396px;
		height:433px;
	}

	#initH1 {
		position:relative;
		width:48%;
		text-align:center;
		margin:auto;
	}

	#initH3{
		width: 75%;
		margin-left: 1%;
	}		

/*	#initPopular1 {
		position:absolute;
		left:90px;
		top:416px;
		width:288px;
		height:178px;
	}	*/

	#initPopular1 {
		position:relative;
		margin:1%;
	}
	.cArtDesc{
		display:block;
		width:85%;
		margin:1% 0 1% 0;
	}
	.initPicResult{
		float:right;
	}
	#initCategory1ResultList {
		list-style-type: none;
		margin:0 1%;
	}
	#initCategory1ResultList li{
		height:120px;
		left:-18px;
		font-size:90%;
	}
	#initCategory1ResultList img{
		width:90px;
		height:90px;
	}
	.initPicResH3{
		width:80%;
		margin:0;
	}	

	/*---------------SEARCH RESULTS DIV-----------------------*/

	/*---------------pla results--------------*/
	#resultsDiv {
		position:relative;
		width:100%;
		display:inline-block;
	}
	#resultsPlain {
		position:relative;
		display:block;
		width:90%;
		margin:auto;
	}
	.plainResultH4{
		text-decoration: underline;
	}
	#plainResultLi {
		position:relative;
		right:7%;
	}

	/*---------------picture results--------------*/
	#resultsPic {
		position:relative;
		width:90%;
		margin:auto;
	}

	#resultPicLi {
		position:relative;
		display:inline-block;
		margin: 0.3%;
		left:-7%;
		width: 104%;
	}

	#resultPicImg {
		position:relative;
		float:right;
	}

	#resultPicImg img{
		width:90px;
		height:90px;
		float:left;
	}

	#resultPicData {
		position:relative;
		width:75%;
		margin-left:1%;
		top:-12%;
	}
	#picResp{
		text-indent:2%;
	}
	#picResP::first-letter{
		font-size: 180%;
	}

	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}			
	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}
}


@media screen and (min-width:768px) and (max-width:991px){

	/*-------------site wide----------------------*/

	#mainWrapper {
		position:relative;
		width:100%;
	}

	#mainPic {
		position:relative;
		display:inline-block;
		background-size:100%;
		height:159px;
		width:100%;
}
	.mainPicImg{
		width:100%;
	}
	#mainBody {
		position:relative;
		width:100%;
	}

#footer {
	position:relative;
	background-color:black;
	width:100%;
	height:176px;
	margin-top:7%;
}
	/*-----------------------------buttons div-------*/

	#buttonsDiv {
		position:relative;
		top:6px;
		width:80%;
		height:72px;
		margin:auto;
	}

	#searchButton1 {
    position: absolute;
    left: 0;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton2 {
    position: absolute;
    left: 200px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton3 {
    position: absolute;
    left: 400px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}

	#searchButton4 {
    position: absolute;
    left: 561px;
    top: 15px;
    height: 29px;
    width: 15%;
    
    text-align: center;
	}
	/*-----------------------------search div-------*/
	#searchBarDiv {
		position:relative;
		display:block;
		width:60%;
		height:140px;
		margin:auto;
	}
	#searchInstructions {
		position:relative;
		top:6px;
		height:44px;
	}

	#searchBar {
		position:relative;
		top:30px;
		width:80%;
		height:44px;
	}
	/*-----------------init div-------*/
	#initDiv {
		position:relative;
		display:block;
		width:80%;
		margin: 1% auto 2% auto;
	}
	#initH1 {
		position:relative;
		width:75%;
		text-align:center;
		margin:auto;
	}

	#initPopular1 {
		position:relative;
	}
	.cArtDesc{
		display:block;
		width:85%;
		margin:1% 0 1% 0;
		text-indent:2%;
	}
	.initPicResult{
		float:right;
	}
	#initCategory1ResultList {
		list-style-type: none;
	}
	#initCategory1ResultList li{
		margin:0.3%;
	}
	#initCategory1ResultList img{
		width:90px;
		height:90px;
	}
	.initPicResH3{
		width:80%;
		margin:0;
		color: purple;
	}
	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}	
	/*---------------SEARCH RESULTS DIV-----------------------*/

	/*---------------pla results--------------*/
	#resultsDiv {
		position:relative;
		width:100%;
		display:inline-block;
	}
	#resultsPlain {
		position:relative;
		display:inline-block;
		width:43%;
		margin-left:6%;
	}
	.plainResultH4{
		text-decoration: underline;
	}
	#plainResultLi {
		position:relative;
		right:7%;
	}

	/*---------------picture results--------------*/
	#resultsPic {
		position:relative;
		width:43%;
		float:right;
		margin-right:6%;
	}

	#resultPicLi {
		position:relative;
		display:inline-block;
		margin: 0.3%;
		left:-7%;
		width: 104%;
	}

	#resultPicImg {
		position:relative;
		float:right;
	}

	#resultPicImg img{
		width:90px;
		height:90px;
		float:left;
	}

	#resultPicData {
		position:relative;
		width:75%;
		margin-left:1%;
		top:-12%;
	}
	#picResp{
		text-indent:2%;
	}
	#picResP::first-letter{
		font-size: 180%;
	}

	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}		

}

@media screen and (min-width: 992px) and (max-width:1300px) {
	
/* from sitewide ------------------------------------------------- */

#mainWrapper {
	position:relative;
	width:100%;
}

#mainPic {
	position:relative;
	display:inline-block;
	/* background: url(../images/mainPic.jpg)no-repeat center; */
	background-size:100%;
	width:100%;
}

	.mainPicImg{
		width:100%;
	}

#mainBody {
	position:relative;
	width:100%;
}

/* ------------FOOTER   ---------------------*/
#footer {
	position:relative;
	background-color:black;
	width:100%;
	height:176px;
	margin-top:7%;
}

/*-------------------------------*/

/*------------------buttons div------------------*/
	#buttonsDiv {
		position: relative;
		top: 6px;
		width: 80%;
		height: 72px;
		margin: auto;
	}
	#searchButton1 {
    position: absolute;
    left: 72px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton2 {
    position: absolute;
    left: 244px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton3 {
    position: absolute;
    left: 416px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton4 {
    position: absolute;
    left: 588px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}
	/*-----------------search div--------------------*/
	#searchBarDiv {
		position: relative;
		display: block;
		width: 60%;
		height: 140px;
		margin: auto;
	}
	#searchInstructions {
		position:relative;
		top:6px;
		height:44px;
	}
	#searchInstructions p{
		position:relative;
		display:inline;
	}
	#searchBar {
		position:relative;
		top:30px;
		width:80%;
		height:44px;
	}

	/*----------------init div ------------------------*/

	#initDiv {
		position: relative;
		display: block;
		width: 80%;
		margin: 1% auto 2% auto;
	}
	#initH1 {
		position:relative;
		width:75%;
		text-align: center;
		margin: 3% auto 3% auto;
	}

	#initPopular1 {
		position:relative;
	}
	.cArtDesc{
		display:block;
		width:85%;
		margin:1% 0 1% 3%;
		text-indent:2%;
	}
	#initH3 {
	}
	.initPicResult{
		float:right;
	}
	#initCategory1ResultList {
		list-style-type: none;
	}
	#initCategory1ResultList li{
		margin:0.3%;
	}
	#initCategory1ResultList img{
		width:90px;
		height:90px;
	}
	.initPicResH3{
		width:80%;
		margin:0;
		color: purple;
	}
	/*---------------SEARCH RESULTS DIV-----------------------*/

	/*---------------pla results--------------*/
	#resultsDiv {
		position:relative;
		width:100%;
		display:inline-block;
	}
	#resultsPlain {
		position:relative;
		display:inline-block;
		width:43%;
		margin-left:6%;
	}
	.plainResultH4{
		text-decoration: underline;
	}
	#plainResultLi {
		position:relative;
		right:7%;
	}

	/*---------------picture results--------------*/
	#resultsPic {
		position:relative;
		width:43%;
		float:right;
		margin-right:6%;
	}

	#resultPicLi {
		position:relative;
		display:inline-block;
		margin: 0.3%;
		left:-7%;
		width: 104%;
	}

	#resultPicImg {
		position:relative;
		float:right;
	}

	#resultPicImg img{
		width:90px;
		height:90px;
		float:left;
	}

	#resultPicData {
		position:relative;
		width:75%;
		margin-left:1%;
		top:-12%;
	}
	#picResp{
		text-indent:2%;
	}
	#picResP::first-letter{
		font-size: 180%;
	}

	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}	
}
@media screen and (min-width: 1301px) and (max-width:1800px) {
	
/* from sitewide ------------------------------------------------- */

#mainWrapper {
	position:relative;
	width:100%;
}

#mainPic {
	position:relative;
	display:inline-block;
	/* background: url(../images/mainPic.jpg)no-repeat center; */
	background-size:100%;
	width:100%;
}
	#mainPic img{
		width:100%;
	}

	.mainPicImg{
		width:100%;
	}
#mainBody {
	position:relative;
	width:100%;
}

/* ------------FOOTER   ---------------------*/
#footer {
	position:relative;
	background-color:black;
	width:100%;
	height:176px;
	margin-top:7%;
}

/*-------------------------------*/

/*------------------buttons div------------------*/
	#buttonsDiv {
		position: relative;
		top: 6px;
		width: 80%;
		height: 72px;
		margin: auto;
	}
	#searchButton1 {
    position: absolute;
    left: 72px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton2 {
    position: absolute;
    left: 244px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton3 {
    position: absolute;
    left: 416px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}

	#searchButton4 {
    position: absolute;
    left: 588px;
    top: 15px;
    height: 29px;
    width: 20%;
    
    text-align: center;
	}
	/*-----------------search div--------------------*/
	#searchBarDiv {
		position: relative;
		display: block;
		width: 60%;
		height: 140px;
		margin: auto;
	}
	#searchInstructions {
		position:relative;
		top:6px;
		height:44px;
	}
	#searchInstructions p{
		position:relative;
		display:inline;
	}
	#searchBar {
		position:relative;
		top:30px;
		width:80%;
		height:44px;
	}

	/*----------------init div ------------------------*/

	#initDiv {
		position: relative;
		display: block;
		width: 80%;
		margin: 1% auto 2% auto;
	}
	#initH1 {
		position:relative;
		width:75%;
		text-align: center;
		margin: 3% auto 3% auto;
	}

	#initPopular1 {
		position:relative;
	}
	.cArtDesc{
		display:block;
		width:85%;
		margin:1% 0 1% 3%;
		text-indent:2%;
	}
	#initH3 {
	}
	.initPicResult{
		float:right;
	}
	#initCategory1ResultList {
		list-style-type: none;
	}
	#initCategory1ResultList li{
		margin:0.3%;
	}
	#initCategory1ResultList img{
		width:90px;
		height:90px;
	}
	.initPicResH3{
		width:80%;
		margin:0;
		color: purple;
	}
	/*---------------SEARCH RESULTS DIV-----------------------*/

	/*---------------pla results--------------*/
	#resultsDiv {
		position:relative;
		width:100%;
		display:inline-block;
	}
	#resultsPlain {
		position:relative;
		display:inline-block;
		width:43%;
		margin-left:6%;
	}
	.plainResultH4{
		text-decoration: underline;
	}
	#plainResultLi {
		position:relative;
		right:7%;
	}

	/*---------------picture results--------------*/
	#resultsPic {
		position:relative;
		width:43%;
		float:right;
		margin-right:6%;
	}

	#resultPicLi {
		position:relative;
		display:inline-block;
		margin: 0.3%;
		left:-7%;
		width: 104%;
	}

	#resultPicImg {
		position:relative;
		float:right;
	}

	#resultPicImg img{
		width:90px;
		height:90px;
		float:left;
	}

	#resultPicData {
		position:relative;
		width:75%;
		margin-left:1%;
		top:-12%;
	}
	#picResp{
		text-indent:2%;
	}
	#picResP::first-letter{
		font-size: 180%;
	}

	.hrInit {
		color: gray;
		display: block;
		margin: 1.5% 0 0 0;
		border: 1px solid green;
		width: 8%;
		position: relative;
	}	
}

