<!-- 
	Component html:
		- displays set of buttons to choose from for a source
			for an http data call to http://newsapi.org
		- displays a search bar and submit button that will
			query http://newsapi.org based on the source passed
			by parent component		
		- passes this.source (set via click by user) to search-news.component
				for api request parameter
		- displays angular 2 router-outled for rendering via url manipulation	
-->

<div id="buttonsDiv">

	<div id="searchButton1">
		<button routerLink='/main_news' routerLinkActive="active" (click)="setSource('newsSources')">News</button>
	</div>
	<div id="searchButton2">
		<button routerLink='/sports_news' routerLinkActive="active" (click)="setSource('sportSources')" >Sports</button>
	</div>
	<div id="searchButton3">
		<button routerLink='/articles' routerLinkActive="active" (click)="setSource('articleSources')">Articles</button>
	</div>
	<div id="searchButton4">
		<button routerLink='/financial_headlines' routerLinkActive="active" (click)="setSource('financialSources')">Financial</button>
	</div>		

</div>

		<!-- for a search bar and a submit button that matches the
				source of the button clicked above -->
	<search-news [source]="source"></search-news>

		<!-- AngularJs 2 native library -->
	<router-outlet ></router-outlet>

