<!--
	- news-dashboard.component
	- takes an observable and displays with async pipe
-->

<div id="initDiv" >
	
	<h1 id="initH1">Most Popular News	</h1>

	<div id="initPopular1" *ngFor="let response of news | async">

		<h2 id="initH3">{{ response.source | uppercase }}
		</h2>

		<ul id="initCategory1ResultList" >

			<li *ngFor="let article of response.articles">
				
				<a class="initPicResult" href="{{article.url}}"><img src="{{article.urlToImage}}"></a>
				
				<h3 class="initPicResH3">{{article.title}}</h3>

				<p class="cArtDesc">{{article.description}}<small><a href="{{article.url}}">link</a></small>
</p>
				<small>author: </small><span><em>{{article.author}}</em></span>

			<hr class="hrInit">
			
			</li>


		</ul>

	</div>

</div>


