<!-- 
	- search-news.component
	- selector in place at: app.component.html 
	- displays a search box:
		* if user already selected a source from parent component: app.component
		* user selection passed via @Input property
		* if source set, displays search box for user to key in term to filter api results
 -->
 
<div id="searchBarDiv">

	<div id="searchInstructions">
		<h4>Select News source from above for a preview of all news.<br>
			Type a search in bar to find specific news results.
		</h4>
	</div>
	<input id="searchBar" #searchNewsBox (keyup)="searchNews(searchNewsBox.value)" [style.display]="returnClass()" placeholder="Search according to selected source (above)"/>


</div>	

