<!-- <h1> search-news-results.component </h1> -->
<br>
	<div id="resultsDiv">

		<h1 id="initH1">Search Results{{noResult}}
		</h1>

		<div id="resultsPlain">
			<ul id="initCategory1ResultList">
				<li 
					*ngFor="let news of newsSearchResults | async" 
					id="plainResultLi" >

					<h4 class='plainResultH4'>{{news.title}}</h4>

					<p class="cArtDesc">{{news.description}}<small><a href="{{news.url}}">link</a></small></p>
					<small>author: </small><span><em>{{news.author}}</em></span>

				</li>
			</ul>
		</div>

		<div id="resultsPic">
		
			<ul>
				<li *ngFor="let news of newsSearchResults | async" id="resultPicLi" >
					<div id="resultPicImg">
						<a href="{{news.url}}"><img src="{{news.urlToImage}}"></a>
					</div>

					<div id="resultPicData">
						<p id="picResP">{{news.description}}<small><a href="{{news.url}}">link</a></small></p>

						<em><small>author: </small></em><span>{{news.author}}</span>	

					</div>

				</li>
			</ul>
				
			</div>	
			
		</div>